openapi: 3.0.3
info:
  title: Youmath backend API
  version: 1.0.3
  description: Backend API для проекта youmath.ru


servers:
  - url: https://youmath.ru/api/v1/
    description: Основной сервер
  - url: http://localhost:8000/api/v1/
    description: Локальный тестовый сервер Django

tags:
  - name: SECTIONS
    description: Разделы
  - name: SUBSECTIONS
    description: Подразделы
  - name: ARTICLES
    description: Работы
  - name: CONTACT
    description: Обратная связь

paths:
  /articles/:
    get:
      operationId: api_v1_articles_list
      summary: Получить список всех работ
      description: Предоставляет список всех работ с фильтрацией, пагинацией и поиском
      parameters:
      - name: limit
        required: false
        in: query
        description: Количество работ на страницу.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: Порядковый номер для начала отображения.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Какое поле использовать для сортировки результата.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: Строка для поиска
        schema:
          type: string
      - in: query
        name: section
        description: Идентифкатор раздела для фильтрации
        schema:
          type: integer
      - in: query
        name: subsection
        description: Идентифкатор подраздела для фильтрации
        schema:
          type: integer
      tags:
        - ARTICLES
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                    format: uri
                    example: https://api.example.org/accounts/?offset=400&limit=100
                  previous:
                    type: string
                    nullable: true
                    format: uri
                    example: https://api.example.org/accounts/?offset=200&limit=100
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Article'
          description: '----'
  /articles/{id}/:
    get:
      operationId: api_v1_articles_retrieve
      summary: Получить детальную информацию по работе
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: Уникальный идентификатор работы.
        required: true
      tags:
        - ARTICLES
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'


          description: ''
  /sections/:
    get:
      operationId: api_v1_sections_list
      summary: Получить список всех разделов
      parameters:
      - name: limit
        required: false
        in: query
        description: Пагинация / Количество работ на страницу.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: Пагинация / Порядковый номер для начала отображения.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Поле для сортировки.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: Строка для поиска.
        schema:
          type: string
      tags:
      - SECTIONS
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                    format: uri
                    example: https://api.example.org/accounts/?offset=400&limit=100
                  previous:
                    type: string
                    nullable: true
                    format: uri
                    example: https://api.example.org/accounts/?offset=200&limit=100
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Section_list'
          description: ''
  /sections/{id}/:
    get:
      operationId: api_v1_sections_retrieve
      summary: Получить детальную информацию по разделу
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: Уникальный идентификатор раздела.
        required: true
      tags:
      - SECTIONS
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section_detail'
          description: ''
  /sections/popular/:
    get:
      operationId: api_v1_sections_popular_list
      summary: Получить список популярных разделов и работ для главной страницы
      tags:
      - SECTIONS
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section_Popular'
          description: ''
  /subsections/:
    get:
      operationId: api_v1_subsections_list
      summary: Получить список всех подразделов
      parameters:
      - name: limit
        required: false
        in: query
        description: Пагинация - колличество позиций (результат) на странице.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: Пагинация - индекс первой позиции в результативной выдачи.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Поле для сортировки.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: Строка для поиска.
        schema:
          type: string
      - in: query
        name: section
        description: Идентифкатор раздела для фильтрации.
        schema:
          type: integer
      tags:
      - SUBSECTIONS
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                    format: uri
                    example: https://api.example.org/accounts/?offset=400&limit=100
                  previous:
                    type: string
                    nullable: true
                    format: uri
                    example: https://api.example.org/accounts/?offset=200&limit=100
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subsection'
          description: ''
  /subsections/{id}/:
    get:
      operationId: api_v1_subsections_retrieve
      summary: Получить детальную информацию по подразделу
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: Уникальный идентификатор подраздела
        required: true
      tags:
      - SUBSECTIONS
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subsection'
          description: ''
  /contact/:
    post:
      operationId: api_v1_contact_create
      summary: Отправить сообщения из формы обратной связи
      tags:
        - CONTACT
      requestBody:
        description: Отправить новое сообщение
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
        required: true
      responses:
        '201':
          description: Сообщение добавлено в базу (HTTP_201_CREATED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'

components:
  schemas:
    Article_nested:
      type: object
      description: Информация о работе / статье
      properties:
        id:
          type: integer
          title: Уникальный идетнтификатор работы
        title:
          type: string
          title: Заголовок
          maxLength: 255
        subtitle:
          type: string
          nullable: true
          title: Подзаголовок
          maxLength: 255
    Article:
      type: object
      description: Информация о работе / статье
      properties:
        id:
          type: integer
          title: Уникальный идетнтификатор работы
        title:
          type: string
          title: Заголовок
          maxLength: 255
        subtitle:
          type: string
          nullable: true
          title: Подзаголовок
          maxLength: 255
        description:
          type: string
          nullable: true
          title: Описание работы / статьи
        read_counter:
          type: integer
          maximum: 9223372036854775807
          minimum: 0
          format: int64
          title: Счетчик просмотров
        file:
          type: string
          format: uri
          title: Ссылка на файл с материалами работы
        section:
          $ref: '#/components/schemas/Section_nested'
        subsection:
          $ref: '#/components/schemas/SubSection_nested'

    Section_nested:
      type: object
      description: Информация о разделе.
      properties:
        id:
          type: integer
          readOnly: true
        title:
          type: string
          title: Название
          maxLength: 100
        subtitle:
          type: string
          nullable: true
          title: Подзаголовок
          maxLength: 100
    Section_list:
      type: object
      description: Информация о разделе со списком подразделов и работ
      properties:
        id:
          type: integer
          readOnly: true
        title:
          type: string
          title: Название
          maxLength: 100
        subtitle:
          type: string
          nullable: true
          title: Подзаголовок
          maxLength: 100
        description:
          type: string
          nullable: true
          title: Описание
        read_counter:
          type: integer
          maximum: 9223372036854775807
          minimum: 0
          format: int64
          title: Количество просмотров
        subsection_exist:
          type: boolean
          readOnly: true
          title: Флаг наличия подразделов у данного раздела
        subsections_count:
          type: integer
          title: Количестов подразделов
        articles_count:
          type: integer
          title: Количестов работ
    Section_detail:
      type: object
      description: Информация о разделе со списком подразделов и работ
      properties:
        id:
          type: integer
          readOnly: true
        title:
          type: string
          title: Название
          maxLength: 100
        subtitle:
          type: string
          nullable: true
          title: Подзаголовок
          maxLength: 100
        description:
          type: string
          nullable: true
          title: Описание
        read_counter:
          type: integer
          maximum: 9223372036854775807
          minimum: 0
          format: int64
          title: Количество просмотров
        subsection_exist:
          type: boolean
          readOnly: true
          title: Флаг наличия подразделов у данного раздела
        subsections_count:
          type: integer
          title: Количестов подразделов
        articles_count:
          type: integer
          title: Количестов работ
        subsections:
          type: array
          items:
            $ref: '#/components/schemas/SubSection_nested'
        articles:
          type: array
          items:
            $ref: '#/components/schemas/Article_nested'
    Section_Popular:
      type: object
      description: Информация о разделе со списком популярных работ
      properties:
        id:
          type: integer
          readOnly: true
          title: Уникальный идетнтификатор раздела
        title:
          type: string
          title: Заголовок
          maxLength: 100
        subtitle:
          type: string
          nullable: true
          title: Подзаголовок
          maxLength: 100
        description:
          type: string
          nullable: true
          title: Описание
        read_counter:
          type: integer
          maximum: 9223372036854775807
          minimum: 0
          format: int64
          title: Количество просмотров
        subsection_exist:
          type: boolean
          readOnly: true
          title: Флаг наличия подразделов у данного раздела
        subsections_count:
          type: integer
          title: Количестов подразделов у данного раздела
        articles_count:
          type: integer
          title: Количество работ у данного раздела
        popular_articles:
          type: array
          title: Три популярные работы для отображения на карточке на главной странице
          items:
            $ref: '#/components/schemas/Article_nested'
    SubSection_nested:
      type: object
      description: Информация по подразделу
      properties:
        id:
          type: integer
          readOnly: true
          title: Уникальный идетнтификатор подраздела
        title:
          type: string
          title: Заголовок
          maxLength: 100
        subtitle:
          type: string
          nullable: true
          title: Подзаголовок
          maxLength: 100
    Subsection:
      type: object
      description: Информация по подразделу с указанием количества работ
      properties:
        id:
          type: integer
          readOnly: true
          title: Уникальный идетнтификатор подраздела
        title:
          type: string
          title: Заголовок
          maxLength: 100
        subtitle:
          type: string
          nullable: true
          title: Подзаголовок
          maxLength: 100
        description:
          type: string
          nullable: true
          title: Описание
        read_counter:
          type: integer
          maximum: 9223372036854775807
          minimum: 0
          format: int64
          title: Просмотров
        articles_count:
          type: integer
          title: Количество работ у данного подраздела
        section:
          $ref: '#/components/schemas/Section_nested'

    Contact:
      required:
        - email
      type: object
      description: Форма обратной связи
      properties:
        email:
          type: string
          format: email
          title: Адрес электронной почты
          maxLength: 255
          example: user@domein.com
        name:
          type: string
          title: Имя
          maxLength: 255
          example: Иван Иванов
        message:
          type: string
          title: Сообщение
          example: Текст сообщения